@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  color: #222;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 9000px;
}

#header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  transition: all 0.5s;
}
#header .inner {
  width: 1180px;
  height: 70px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
#header .inner #logo {
  width: 150px;
  height: 35px;
  z-index: 10;
}
#header .inner #menuWeb {
  width: 730px;
  z-index: 10;
}
#header .inner #menuWeb > ul {
  display: flex;
  align-items: center;
}
#header .inner #menuWeb > ul > li {
  width: 150px;
  height: 70px;
  text-align: center;
  position: relative;
}
#header .inner #menuWeb > ul > li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #ff7f00;
  position: absolute;
  z-index: 5;
  bottom: -1px;
  transition: all 0.5s;
}
#header .inner #menuWeb > ul > li:hover::after {
  width: 100%;
}
#header .inner #menuWeb > ul > li > a {
  font: 600 16px/70px "Noto Sans KR";
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#header .inner #menuWeb > ul > li .subWeb {
  display: none;
  transition: all 0.5s;
}
#header .inner #menuWeb > ul > li .subWeb li {
  width: 100%;
  height: 60px;
  text-align: center;
}
#header .inner #menuWeb > ul > li .subWeb li a {
  font: normal 14px/60px "Noto Sans KR";
  position: relative;
}
#header .inner #menuWeb > ul > li .subWeb li a::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ff7f00;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s;
  transform: scale(0);
  position: absolute;
  right: -15px;
  top: -5px;
  z-index: 10;
}
#header .inner #menuWeb > ul > li .subWeb li a:hover {
  color: #9f1758;
}
#header .inner #menuWeb > ul > li .subWeb li a:hover::before {
  content: "";
  opacity: 1;
  transform: scale(1);
}
#header .btnCall {
  position: absolute;
  top: 50%;
  right: 30px;
  color: #333;
  transform: translateY(-50%);
  font-size: 40px;
  display: none;
}
#header #menuMo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: none;
}
#header #menuMo > ul {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0px;
  padding: 10px 0px;
}
#header #menuMo > ul > li {
  width: 100%;
  position: relative;
}
#header #menuMo > ul > li > a {
  font: bold 3vw/4.5vh "Noto Sans KR";
  padding: 0px 0px 0px 30px;
}
#header #menuMo > ul > li > a.btnDown {
  position: absolute;
  top: 0px;
  right: 40px;
  padding: 0px;
  transition: all 1s;
}
#header #menuMo > ul > li > a.btnDown i {
  font-size: 3.5vw;
  color: #9f1758;
  background-color: #fff;
}
#header #menuMo > ul > li > a.btnDown.active {
  transform: rotate(180deg);
}
#header #menuMo > ul > li .subMo {
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: #fefefe;
  transform: translateY(-50%);
  transition: all 1s;
  opacity: 0;
}
#header #menuMo > ul > li .subMo li {
  text-indent: 40px;
  padding: 12px 0px;
}
#header #menuMo > ul > li .subMo li a {
  font: normal 2.5vw/1 "Noto Sans KR";
}
#header #menuMo > ul > li .subMo.active {
  height: 100%;
  transform: translateY(0);
  opacity: 1;
}
#header #menuMo .close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 50px;
  color: #333;
}
#header #gnbBg {
  width: 100%;
  height: 0px;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: 0px;
  opacity: 0;
  z-index: 9;
  transition: all 0.5s;
}
#header #gnbBg::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eee;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#header.scroll {
  background-color: #fff;
}
#header.scroll .inner #menuWeb > ul > li > a {
  color: #222;
  text-shadow: none;
}

@media screen and (max-width: 800px) {
  #header .inner {
    width: 100%;
  }
  #header .inner #menuWeb {
    display: none;
  }
  #header .btnCall {
    display: block;
  }
  #header #menuMo {
    display: block;
  }
}
#slide {
  width: 100%;
  height: 90vh;
}
#slide .mainSlide {
  width: 100%;
  height: 100%;
}
#slide .mainSlide .swiper-wrapper .swiper-slide .textWrap {
  width: 1180px;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
}
#slide .mainSlide .swiper-wrapper .swiper-slide .textWrap h2 {
  width: 100%;
  font: 900 65px/1.5 "Noto Sans KR";
  letter-spacing: 1px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
}
#slide .mainSlide .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slide .mainSlide .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.7;
  margin: 0px 10px;
}
#slide .mainSlide .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background-color: #ff7f00;
  opacity: 0.9;
}
#slide .mainSlide .autoplay-progress {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
#slide .mainSlide .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #ff7f00;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
#slide .mainSlide .autoplay-progress span {
  font: normal 15px/1px "Noto Sans KR";
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#products {
  width: 100%;
  margin-bottom: 20px;
}
#products .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}
#products .inner .moreBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
#products .inner .moreBtn i {
  font-size: 30px;
  color: #ff7f00;
  transition: all 0.5s;
}
#products .inner .moreBtn i:hover {
  color: #9f1758;
}
#products .inner .figureBg {
  width: 900px;
  height: 700px;
  background-color: #9f1758;
  border-radius: 70px;
  opacity: 1;
  position: absolute;
  top: -140px;
  left: -350px;
  transform: rotate(35deg);
  z-index: -2;
}
#products .inner .productsContent {
  width: 100%;
  min-height: 750px;
}
#products .inner .productsContent .productsTexts {
  width: 100%;
  position: absolute;
  top: 150px;
  left: 60px;
}
#products .inner .productsContent .productsTexts .productsTitle {
  font: 700 40px/1.2 "Noto Sans KR";
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
#products .inner .productsContent .productsTexts .productsTxt {
  font: normal 30px/1 "Noto Sans KR";
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}
#products .inner .productsContent .productsTexts .productsInfoTxt {
  font: normal 20px/1.5 "Noto Sans KR";
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-top: -10px;
}
#products .inner .productsContent .productImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
#products .inner .productsContent .productImg .productBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.5s;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(1) {
  background-image: url(../img/main/products/bg/bg.on.png);
  background-repeat: no-repeat;
  background-position: 270px -35px;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(2) {
  background-image: url(../img/main/products/bg/하임_bg.png);
  background-repeat: no-repeat;
  background-position: 240px 20px;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(3) {
  background-image: url(../img/main/products/bg/크라운산도_bg.png);
  background-repeat: no-repeat;
  background-position: 180px -10px;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(4) {
  background-image: url(../img/main/products/bg/빅파이_bg.png);
  background-repeat: no-repeat;
  background-position: 200px 20px;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(5) {
  background-image: url(../img/main/products/bg/콘칲_bg.png);
  background-repeat: no-repeat;
  background-position: 240px -20px;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(6) {
  background-image: url(../img/main/products/bg/밤양갱_bg.png);
  background-repeat: no-repeat;
  background-position: 260px -10px;
}
#products .inner .productsContent .productImg .productBg.on {
  opacity: 0.8;
  z-index: 10;
}
#products .inner .productsContent .productMenu {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0px;
}
#products .inner .productsContent .productMenu .contentBox {
  flex: 1;
  margin: 0px 10px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  transition: all 0.8s;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  cursor: pointer;
}
#products .inner .productsContent .productMenu .contentBox .imgBox {
  width: 100%;
  height: 150px;
  padding: 10px;
}
#products .inner .productsContent .productMenu .contentBox .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
#products .inner .productsContent .productMenu .contentBox .contentTitle {
  display: none;
}
#products .inner .productsContent .productMenu .contentBox .contentTxt {
  display: none;
}
#products .inner .productsContent .productMenu .contentBox .contentInfoTxt {
  display: none;
}
#products .inner .productsContent .productMenu .contentBox:hover, #products .inner .productsContent .productMenu .contentBox.on {
  box-shadow: 4px 4px 5px 0px rgba(255, 178, 101, 0.3);
  transform: translateY(-30px);
  opacity: 1;
  z-index: 10;
}

.socialSlide {
  width: 100%;
  height: 100%;
}
.socialSlide .swiper-wrapper .swiper-slide {
  width: 500px;
  height: 600px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialSlide .swiper-wrapper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#con03 {
  background-color: lemonchiffon;
}

#social {
  width: 100%;
}
#social .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#social .inner .moreBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
#social .inner .moreBtn i {
  font-size: 30px;
  color: #ff7f00;
  transition: all 0.5s;
}
#social .inner .moreBtn i:hover {
  color: #9f1758;
}
#social .inner .socialTexts {
  width: 100%;
  padding: 50px 30px 30px;
}
#social .inner .socialTexts h2 {
  font: 700 40px/1 "Noto Sans KR";
  color: #222;
  margin-bottom: 15px;
}
#social .inner .socialTexts p {
  font: normal 30px/1 "Noto Sans KR";
  color: #222;
}
#social .inner .socialTab {
  width: 100%;
}
#social .inner .socialTab .titList {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 0px 0px 20px 30px;
}
#social .inner .socialTab .titList li {
  position: relative;
}
#social .inner .socialTab .titList li a {
  font: normal 20px/1 "Noto Sans KR";
  color: #222;
  transition: all 0.3s;
  position: relative;
}
#social .inner .socialTab .titList li a::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ff7f00;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
  transform: scale(0);
  position: absolute;
  top: 0px;
  left: 110%;
}
#social .inner .socialTab .titList li a.on {
  font-weight: bold;
  color: #9f1758;
}
#social .inner .socialTab .titList li a.on::before {
  opacity: 1;
  transform: scale(1);
}
#social .inner .socialContent {
  width: 100%;
}
#social .inner .socialContent .tabList {
  width: 100%;
  height: 420px;
  padding: 10px;
  display: none;
}
#social .inner .socialContent .tabList .socialSlide {
  width: 100%;
  height: 100%;
}
#social .inner .socialContent .tabList .socialSlide .slideList .swiper-slide {
  width: 100%;
  height: 90%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}
#social .inner .socialContent .tabList .socialSlide .slideList .swiper-slide .img {
  width: 100%;
  height: 200px;
  background-color: #000;
  margin-bottom: 20px;
}
#social .inner .socialContent .tabList .socialSlide .slideList .swiper-slide .img img {
  width: 100%;
}
#social .inner .socialContent .tabList .socialSlide .slideList .swiper-slide .content {
  width: 100%;
  height: calc(100% - 220px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#social .inner .socialContent .tabList .socialSlide .slideList .swiper-slide .content h3 {
  font: bold 22px/1.3 "Noto Sans KR";
  color: #222;
  text-align: left;
}
#social .inner .socialContent .tabList .socialSlide .slideList .swiper-slide .content p {
  font: normal 16px/1 "Noto Sans KR";
  color: #666;
  text-align: right;
}
#social .inner .socialContent .tabList .socialSlide .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #aaa;
  opacity: 0.7;
  margin: 0px 8px;
}
#social .inner .socialContent .tabList .socialSlide .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #ff7f00;
  opacity: 0.9;
}
#social .inner .socialContent .tabList#con02 .socialSlide .slideList .swiper-slide .img {
  width: 100%;
  height: 240px;
  margin-bottom: 10px;
  background-color: #666;
}
#social .inner .socialContent .tabList#con02 .socialSlide .slideList .swiper-slide .content {
  width: 100%;
  height: calc(100% - 240px - 10px);
}

/*# sourceMappingURL=style.css.map */
