@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  color: #222;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 9000px;
}

#header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  transition: all 0.5s;
}
#header .inner {
  width: 1180px;
  height: 80px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
#header .inner #logo {
  width: 170px;
  height: 39px;
  z-index: 10;
}
#header .inner #menuWeb {
  width: 730px;
  z-index: 10;
}
#header .inner #menuWeb > ul {
  display: flex;
  align-items: center;
}
#header .inner #menuWeb > ul > li {
  width: 150px;
  height: 80px;
  text-align: center;
  position: relative;
}
#header .inner #menuWeb > ul > li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #ff7f00;
  position: absolute;
  z-index: 5;
  bottom: -1px;
  transition: all 0.5s;
}
#header .inner #menuWeb > ul > li:hover::after {
  width: 100%;
}
#header .inner #menuWeb > ul > li > a {
  font: 600 16px/80px "Noto Sans Korean";
  color: #fff;
}
#header .inner #menuWeb > ul > li .subWeb {
  display: none;
  transition: all 0.5s;
}
#header .inner #menuWeb > ul > li .subWeb li {
  width: 100%;
  height: 60px;
  text-align: center;
}
#header .inner #menuWeb > ul > li .subWeb li a {
  font: normal 14px/60px "Noto Sans Korean";
  position: relative;
}
#header .inner #menuWeb > ul > li .subWeb li a::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ff7f00;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s;
  transform: scale(0);
  position: absolute;
  right: -15px;
  top: -5px;
  z-index: 10;
}
#header .inner #menuWeb > ul > li .subWeb li a:hover {
  color: #9f1758;
}
#header .inner #menuWeb > ul > li .subWeb li a:hover::before {
  content: "";
  opacity: 1;
  transform: scale(1);
}
#header .btnCall {
  position: absolute;
  top: 50%;
  right: 30px;
  color: #333;
  transform: translateY(-50%);
  font-size: 40px;
  display: none;
}
#header #menuMo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: none;
}
#header #menuMo > ul {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0px;
  padding: 10px 0px;
}
#header #menuMo > ul > li {
  width: 100%;
  position: relative;
}
#header #menuMo > ul > li > a {
  font: bold 3vw/4.5vh "Noto Sans Korean";
  padding: 0px 0px 0px 30px;
}
#header #menuMo > ul > li > a.btnDown {
  position: absolute;
  top: 0px;
  right: 40px;
  padding: 0px;
  transition: all 1s;
}
#header #menuMo > ul > li > a.btnDown i {
  font-size: 3.5vw;
  color: #9f1758;
  background-color: #fff;
}
#header #menuMo > ul > li > a.btnDown.active {
  transform: rotate(180deg);
}
#header #menuMo > ul > li .subMo {
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: #fefefe;
  transform: translateY(-50%);
  transition: all 1s;
  opacity: 0;
}
#header #menuMo > ul > li .subMo li {
  text-indent: 40px;
  padding: 12px 0px;
}
#header #menuMo > ul > li .subMo li a {
  font: normal 2.5vw/1 "Noto Sans Korean";
}
#header #menuMo > ul > li .subMo.active {
  height: 100%;
  transform: translateY(0);
  opacity: 1;
}
#header #menuMo .close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 50px;
  color: #333;
}
#header #gnbBg {
  width: 100%;
  height: 0px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 9;
  transition: all 0.5s;
}
#header #gnbBg::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eee;
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 10;
}
#header.scroll {
  background-color: #fff;
}
#header.scroll .inner #menuWeb > ul > li > a {
  color: #222;
}

@media screen and (max-width: 800px) {
  #header .inner {
    width: 100%;
  }
  #header .inner #menuWeb {
    display: none;
  }
  #header .btnCall {
    display: block;
  }
  #header #menuMo {
    display: block;
  }
}
#slide {
  width: 100%;
  height: 100vh;
}
#slide .swiper {
  width: 100%;
  height: 100%;
}
#slide .swiper .swiper-wrapper .swiper-slide h2 {
  width: 60vw;
  font: 900 6vh/1.5 "Noto Sans Korean";
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slide .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.7;
  margin: 0px 10px;
}
#slide .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #ff7f00;
  opacity: 0.9;
}
#slide .swiper .autoplay-progress {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
#slide .swiper .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #ff7f00;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
#slide .swiper .autoplay-progress span {
  font: normal 15px/1px "Noto Sans Korean";
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#products {
  width: 100%;
  min-height: 800px;
}
#products .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#products .inner .moreBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
#products .inner .moreBtn i {
  font-size: 30px;
  color: #ff7f00;
  transition: all 0.5s;
}
#products .inner .moreBtn i:hover {
  color: #9f1758;
}
#products .inner .productsContent {
  width: 100%;
  min-height: 800px;
}
#products .inner .productsContent .productsTexts {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 0px;
}
#products .inner .productsContent .productsTexts .productsTitle {
  font: bold 40px/1 "Noto Sans Korean";
  margin-bottom: 30px;
}
#products .inner .productsContent .productsTexts .productsTxt {
  font: normal 30px/1 "Noto Sans Korean";
}
#products .inner .productsContent .productsTexts .productsInfoTxt {
  font: normal 20px/1.5 "Noto Sans Korean";
  margin-top: -10px;
}
#products .inner .productsContent .productImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
#products .inner .productsContent .productImg .productBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.5s;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(1) {
  background: url(/img/main/products/bg.on_test.png) center no-repeat;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(2) {
  background: url(/img/main/products/하임_bg_test.png);
}
#products .inner .productsContent .productImg .productBg:nth-of-type(3) {
  background: #eee;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(4) {
  background: #ccc;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(5) {
  background: #aaa;
}
#products .inner .productsContent .productImg .productBg:nth-of-type(6) {
  background: #888;
}
#products .inner .productsContent .productImg .productBg.on {
  opacity: 0.5;
  z-index: 10;
}
#products .inner .productsContent .productMenu {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 0px;
}
#products .inner .productsContent .productMenu .contentBox {
  flex: 1;
  margin: 0px 10px;
  padding: 10px;
  background-color: #fff;
  opacity: 0.8;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  transition: all 0.8s;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#products .inner .productsContent .productMenu .contentBox .imgBox {
  width: 100%;
  height: 160px;
  margin-bottom: 5px;
  position: relative;
  transition: all 0.8s;
}
#products .inner .productsContent .productMenu .contentBox .imgBox.on {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.8s;
}
#products .inner .productsContent .productMenu .contentBox .contentTitle {
  font: bold 20px/1 "Noto Sans Korean";
  margin-bottom: 20px;
}
#products .inner .productsContent .productMenu .contentBox .contentTxt {
  font: normal 14px/1 "Noto Sans Korean";
  margin-bottom: 10px;
}
#products .inner .productsContent .productMenu .contentBox .contentInfoTxt {
  display: none;
}
#products .inner .productsContent .productMenu .contentBox:hover, #products .inner .productsContent .productMenu .contentBox.on {
  transform: scale(1.2);
  opacity: 1;
  border: 1px solid rgba(159, 23, 88, 0.3);
  z-index: 10;
}
#products .inner .productsContent .productMenu .contentBox:hover .imgBox, #products .inner .productsContent .productMenu .contentBox.on .imgBox {
  opacity: 0;
}
#products .inner .productsContent .productMenu .contentBox:hover .imgBox.on, #products .inner .productsContent .productMenu .contentBox.on .imgBox.on {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
