// clickScroll
main {
	width: 100%;
	position: relative;
	overflow: hidden;
	#clickScrollWeb {
		width: 150px;
		overflow: hidden;
		position: fixed;
		top: 50%;
		right: -1px;
		z-index: 20;
		transition: all 0.8s;
		opacity: 0;
		pointer-events: none;
		.map {
			width: 100%;
			ul {
				li {
					padding: 10px 0px;
					a {
						font: bold 18px/1 $mainFont;
						color: #bbb;
						position: relative;
						transition: all 0.5s;
						&::after {
							content: '';
							display: block;
							width: 100px;
							height: 2px;
							background-color: #bbb;
							position: absolute;
							top: 50%;
							margin-top: -1px;
							left: calc(100% + 3px);
							transition: all 0.5s;
						}
					}
					&.on {
						a {
							color: #9f1758;
							left: 30px;
							&::after {
								background-color: #9f1758;
							}
						}
					}
				}
			}
		}
		&.on {
			opacity: 1;
			pointer-events: auto;
		}
	}
	#clickScrollMo {
		width: 45px;
		height: 45px;
		background-color: rgba($color: #eee, $alpha: 0.8);
		box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1);
		border-radius: 50%;
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 20;
		transition: all 0.8s;
		opacity: 0;
		pointer-events: none;
		display: none;
		.goToTop {
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			span {
				text-indent: -9999px;
				opacity: 0;
			}
			i {
				font-size: 24px;
				color: #9f1758;
			}
		}
		&.on {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

@media screen and (max-width: 800px) {
	main {
		#clickScrollWeb {
			display: none;
		}
		#clickScrollMo {
			display: block;
		}
	}
}
