#products {
	width: 100%;
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		overflow: hidden;
		.moreBtn {
			position: absolute;
			top: 30px;
			right: 30px;
			i {
				@include moreBtn;
			}
		}
		.figureBg {
			width: 900px;
			height: 700px;
			background-color: rgba($color: #9f1758, $alpha: 1);
			border-radius: 70px;
			opacity: 1;
			position: absolute;
			top: -140px;
			left: -350px;
			transform: rotate(35deg);
			z-index: -2;
		}
		.productsContent {
			width: 100%;
			min-height: 750px;
			.productsTexts {
				width: 100%;
				position: absolute;
				top: 100px;
				left: 60px;
				.productsTitle {
					font: 700 40px/1.2 $mainFont;
					color: #fff;
					text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
					margin-bottom: 30px;
				}
				.productsTxt {
					font: normal 30px/1 $mainFont;
					text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
					color: #fff;
				}
				.productsInfoTxt {
					font: normal 20px/1.5 $mainFont;
					text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
					color: #fff;
					margin-top: -10px;
				}
			}
			.productImg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: -1;
				.productBg {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
					opacity: 0;
					transition: all 0.5s;
					&:nth-of-type(1) {
						// background-color: #888;
						background-image: url(/img/main/products/bg/bg.on.png);
						background-repeat: no-repeat;
						background-position: 200px 90px;
					}
					&:nth-of-type(2) {
						background-image: url(/img/main/products/bg/하임_bg.png);
						background-repeat: no-repeat;
						background-position: 200px 100px;
					}
					&:nth-of-type(3) {
						background: #eee;
					}
					&:nth-of-type(4) {
						background: #ccc;
					}
					&:nth-of-type(5) {
						background: #aaa;
					}
					&:nth-of-type(6) {
						background: #888;
					}
					&.on {
						opacity: 0.6;
						z-index: 10;
					}
				}
			}
			.productMenu {
				width: 100%;
				display: flex;
				position: absolute;
				bottom: 10%;
				left: 0px;
				.contentBox {
					flex: 1;
					margin: 0px 10px;
					padding: 10px;
					background-color: #fff;
					opacity: 0.9;
					border: 1px solid transparent;
					border-radius: 10px;
					text-align: center;
					transition: all 0.8s;
					box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
					cursor: pointer;
					.imgBox {
						width: 100%;
						height: 160px;
						margin-bottom: 5px;
						position: relative;
						transition: all 0.8s;
						&.on {
							position: absolute;
							top: 0px;
							left: 0px;
							opacity: 0;
							transition: all 0.8s;
						}
					}
					.contentTitle {
						font: bold 20px/1 $mainFont;
						margin-bottom: 20px;
					}
					.contentTxt {
						font: normal 14px/1 $mainFont;
						margin-bottom: 10px;
					}
					.contentInfoTxt {
						display: none;
					}
					&:hover,
					&.on {
						transform: scale(1.2);
						opacity: 1;
						border: 1px solid rgba($color: #ff7f00, $alpha: 0.4);
						z-index: 10;
						.imgBox {
							opacity: 0;
							&.on {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
