#products {
	width: 100%;
	margin-bottom: 20px;
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		overflow: hidden;
		background-color: #fff;
		z-index: 4;
		.moreBtn {
			position: absolute;
			top: 30px;
			right: 30px;
			i {
				@include moreBtn;
			}
		}
		.figureBg {
			width: 900px;
			height: 700px;
			background-color: rgba($color: #9f1758, $alpha: 1);
			border-radius: 70px;
			opacity: 1;
			position: absolute;
			top: -140px;
			left: -350px;
			transform: rotate(35deg);
			z-index: -2;
		}
		.productsContent {
			width: 100%;
			min-height: 750px;
			.productsTexts {
				width: 100%;
				position: absolute;
				top: 150px;
				left: 60px;
				.productsTitle {
					font: 700 40px/1.2 $mainFont;
					color: #fff;
					text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
					margin-bottom: 30px;
				}
				.productsTxt {
					font: normal 30px/1 $mainFont;
					text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
					color: #fff;
				}
				.productsInfoTxt {
					font: normal 20px/1.5 $mainFont;
					text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
					color: #fff;
					margin-top: -10px;
				}
			}
			.productImg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: -1;
				.productBg {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
					opacity: 0;
					transition: all 0.5s;
					&:nth-of-type(1) {
						background-image: url(../img/main/products/bg/bg.on.png);
						background-repeat: no-repeat;
						background-position: 270px -35px;
					}
					&:nth-of-type(2) {
						background-image: url(../img/main/products/bg/하임_bg.png);
						background-repeat: no-repeat;
						background-position: 240px 20px;
					}
					&:nth-of-type(3) {
						background-image: url(../img/main/products/bg/크라운산도_bg.png);
						background-repeat: no-repeat;
						background-position: 180px -10px;
					}
					&:nth-of-type(4) {
						background-image: url(../img/main/products/bg/빅파이_bg.png);
						background-repeat: no-repeat;
						background-position: 200px 20px;
					}
					&:nth-of-type(5) {
						background-image: url(../img/main/products/bg/콘칲_bg.png);
						background-repeat: no-repeat;
						background-position: 240px -20px;
					}
					&:nth-of-type(6) {
						background-image: url(../img/main/products/bg/밤양갱_bg.png);
						background-repeat: no-repeat;
						background-position: 260px -10px;
					}
					&.on {
						opacity: 0.8;
						z-index: 10;
					}
				}
			}
			.productMenu {
				width: 100%;
				display: flex;
				position: absolute;
				bottom: 10px;
				left: 0px;
				.contentBox {
					flex: 1;
					margin: 0px 10px;
					background-color: #fff;
					border: 1px solid transparent;
					border-radius: 10px;
					text-align: center;
					transition: all 0.8s;
					box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
					opacity: 0.9;
					cursor: pointer;
					.imgBox {
						width: 100%;
						height: 150px;
						padding: 10px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							opacity: 1;
						}
					}
					.contentTitle {
						display: none;
					}
					.contentTxt {
						display: none;
					}
					.contentInfoTxt {
						display: none;
					}
					&:hover,
					&.on {
						box-shadow: 4px 4px 5px 0px rgba($color: #ffb265, $alpha: 0.3);
						transform: translateY(-30px);
						opacity: 1;
						z-index: 10;
					}
				}
			}
		}
	}
}
