#products {
	width: 100%;
	min-height: 800px;
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		.moreBtn {
			position: absolute;
			top: 30px;
			right: 30px;
			i {
				@include moreBtn;
			}
		}
		.productsContent {
			width: 100%;
			min-height: 800px;
			.productsTexts {
				width: 100%;
				text-align: center;
				position: absolute;
				top: 20%;
				left: 0px;
				.productsTitle {
					font: bold 40px/1 $mainFont;
					margin-bottom: 30px;
				}
				.productsTxt {
					font: normal 30px/1 $mainFont;
				}
				.productsInfoTxt {
					font: normal 20px/1.5 $mainFont;
					margin-top: -10px;
				}
			}
			.productImg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: -1;
				.productBg {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
					opacity: 0;
					transition: all 0.5s;
					&:nth-of-type(1) {
						background: url(/img/main/products/bg.on_test.png) center no-repeat;
					}
					&:nth-of-type(2) {
						background: url(/img/main/products/하임_bg_test.png);
					}
					&:nth-of-type(3) {
						background: #eee;
					}
					&:nth-of-type(4) {
						background: #ccc;
					}
					&:nth-of-type(5) {
						background: #aaa;
					}
					&:nth-of-type(6) {
						background: #888;
					}
					&.on {
						opacity: 0.5;
						z-index: 10;
					}
				}
			}
			.productMenu {
				width: 100%;
				display: flex;
				position: absolute;
				bottom: 10%;
				left: 0px;
				.contentBox {
					flex: 1;
					margin: 0px 10px;
					padding: 10px;
					background-color: #fff;
					opacity: 0.8;
					border: 1px solid transparent;
					border-radius: 10px;
					text-align: center;
					transition: all 0.8s;
					box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
					cursor: pointer;
					.imgBox {
						width: 100%;
						height: 160px;
						margin-bottom: 5px;
						position: relative;
						transition: all 0.8s;
						&.on {
							position: absolute;
							top: 0px;
							left: 0px;
							opacity: 0;
							transition: all 0.8s;
						}
					}
					.contentTitle {
						font: bold 20px/1 $mainFont;
						margin-bottom: 20px;
					}
					.contentTxt {
						font: normal 14px/1 $mainFont;
						margin-bottom: 10px;
					}
					.contentInfoTxt {
						display: none;
					}
					&:hover,
					&.on {
						transform: scale(1.2);
						opacity: 1;
						border: 1px solid rgba($color: #9f1758, $alpha: 0.3);
						z-index: 10;
						.imgBox {
							opacity: 0;
							&.on {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
