#slide {
	width: 100%;
	height: 90vh;
	.mainSlide {
		width: 100%;
		height: 100%;
		.swiper-wrapper {
			.swiper-slide {
				.textWrap {
					width: 1180px;
					height: 100%;
					margin: 0px auto;
					position: absolute;
					left: 0;
					right: 0;
					h2 {
						width: 100%;
						font: 900 65px/1.5 $mainFont;
						letter-spacing: 1px;
						text-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.4);
						color: #fff;
						position: absolute;
						top: 50%;
						left: 60px;
						transform: translateY(-50%);
					}
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.swiper-pagination {
			.swiper-pagination-bullet {
				width: 8px;
				height: 8px;
				background-color: #fff;
				opacity: 0.7;
				margin: 0px 10px;
				&.swiper-pagination-bullet-active {
					width: 13px;
					height: 13px;
					background-color: #ff7f00;
					opacity: 0.9;
				}
			}
		}
		.autoplay-progress {
			position: absolute;
			right: 10px;
			bottom: 10px;
			z-index: 10;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			svg {
				--progress: 0;
				position: absolute;
				z-index: 10;
				width: 100%;
				height: 100%;
				stroke-width: 4px;
				stroke: #ff7f00;
				fill: none;
				stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
				stroke-dasharray: 125.6;
				transform: rotate(-90deg);
			}
			span {
				font: normal 15px/1px $mainFont;
				color: #fff;
				text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.4);
			}
		}
	}
}
