body {
	height: 9000px;
}

#header {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	transition: all 0.5s;
	.inner {
		width: 1180px;
		height: 70px;
		margin: 0px auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 30px;
		#logo {
			width: 150px;
			height: 35px;
		}
		#menuWeb {
			width: 730px;
			> ul {
				display: flex;
				align-items: center;
				> li {
					width: 150px;
					height: 70px;
					text-align: center;
					position: relative;
					&::after {
						content: '';
						display: block;
						width: 0%;
						height: 2px;
						background-color: #ff7f00;
						position: absolute;
						z-index: 4;
						bottom: -1px;
						transition: all 0.5s;
					}
					&:hover,
					&.on {
						&::after {
							width: 100%;
						}
					}
					> a {
						font: 600 16px/70px $mainFont;
						color: #fff;
						text-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.2);
					}
					.subWeb {
						display: none;
						z-index: 100;
						li {
							width: 100%;
							height: 60px;
							text-align: center;
							a {
								font: normal 14px/55px $mainFont;
								position: relative;
								&::before {
									content: '';
									display: block;
									width: 7px;
									height: 7px;
									background-color: #ff7f00;
									border-radius: 50%;
									opacity: 0;
									transition: all 0.5s;
									transform: scale(0);
									position: absolute;
									right: -13px;
									top: -4px;
									z-index: 3;
								}
								&:hover {
									color: #9f1758;
									&::before {
										content: '';
										opacity: 1;
										transform: scale(1);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.btnCall {
		position: absolute;
		top: 50%;
		right: 30px;
		color: #333;
		transform: translateY(-50%);
		font-size: 40px;
		display: none;
	}
	#menuMo {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-color: #fff;
		display: none;
		> ul {
			width: 100%;
			position: absolute;
			top: 80px;
			left: 0px;
			padding: 10px 0px;
			> li {
				width: 100%;
				position: relative;
				// margin-bottom: 20px;
				> a {
					font: bold 3vw/4.5vh $mainFont;
					padding: 0px 0px 0px 30px;
					&.btnDown {
						position: absolute;
						top: -0px;
						right: 40px;
						padding: 0px;
						transition: all 1s;
						i {
							font-size: 3.5vw;
							color: #9f1758;
							background-color: #fff;
						}
						&.active {
							transform: rotate(180deg);
						}
					}
				}
				.subMo {
					width: 100%;
					height: 0px;
					overflow: hidden;
					background-color: #fefefe;
					transform: translateY(-50%);
					transition: all 1s;
					opacity: 0;
					li {
						text-indent: 40px;
						padding: 12px 0px;
						a {
							font: normal 2.5vw/1 $mainFont;
						}
					}
					&.active {
						height: 100%;
						transform: translateY(0);
						opacity: 1;
					}
				}
			}
		}
		.close {
			position: absolute;
			top: 10px;
			right: 30px;
			font-size: 50px;
			color: #333;
		}
	}
	&.scroll {
		background-color: #fff;
		.inner {
			#menuWeb {
				> ul {
					> li {
						> a {
							color: #222;
							text-shadow: none;
						}
					}
				}
			}
		}
	}
}
#bgGnb {
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 70px;
	left: 0px;
	display: none;
	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: #eee;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

@media screen and (max-width: 800px) {
	#header {
		.inner {
			width: 100%;
			#menuWeb {
				display: none;
			}
		}
		.btnCall {
			display: block;
		}
		#menuMo {
			display: block;
		}
	}
}
