@mixin moreBtn {
	font-size: 30px;
	color: #ff7f00;
	transition: all 0.5s;
	&:hover {
		color: #9f1758;
	}
}
@mixin moreBtn_mo {
	font-size: 5.5vw;
	color: #ff7f00;
}

@mixin closeBtn {
	font-size: 40px;
	color: #ff7f00;
	transform: rotate(45deg);
	transition: all 0.5s;
	&:hover {
		color: #9f1758;
	}
}
@mixin closeBtn_mo {
	font-size: 6.5vw;
	color: #ff7f00;
	transform: rotate(45deg);
}
